<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.formatter">
      <formatter
            class="org.eclipse.imp.formatting.SourceFormatter"
            language="LEG">
      </formatter>
   </extension>
   <extension
         point="org.eclipse.imp.formatting.formattingSpecification">
      <formattingSpecification
            parseController="org.eclipse.imp.leg.parser.LEGParseController"
            file="src/org/eclipse/imp/leg/editor/LEG.fsp"
            language="LEG"
            astAdapter="org.eclipse.imp.leg.parser.LEGASTAdapter">
      </formattingSpecification>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="leg"
            description="Little Expression Grammar"
            language="LEG">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.leg.editor.TokenColorer"
            language="LEG">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.leg.foldingUpdater.LEGFoldingUpdater"
            language="LEG">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.leg.contentProposer.LEGContentProposer"
            language="LEG">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor
            class="org.eclipse.imp.leg.actions.EditorActions"
            language="leg">
      </editorActionContributor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.leg.treeModelBuilder.LEGTreeModelBuilder"
            language="LEG">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.leg.treeModelBuilder.LEGLabelProvider"
            language="LEG">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.imp.leg.preferences.LEGInitializer">
      </initializer>
   </extension>
   <extension
         id="lEG.imp.builder"
         name="LEG builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.leg.builders.LEGBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="LEG Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="org.eclipse.imp.leg.lEG.imp.builder">
      </builder>
      <runtime>
         <run
               class="org.eclipse.imp.leg.builders.LEGNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="lEG.imp.builder.problem"
         name="LEG Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceIdentifier
            class="org.eclipse.imp.leg.occurrenceMarker.LEGOccurrenceMarker"
            language="LEG"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.leg.referenceResolvers.LEGReferenceResolver"
            language="LEG">
      </referenceResolver>
   </extension>
   <extension
         id="org.eclipse.imp.leg.parser"
         name="LEG Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.eclipse.imp.leg.parser.LEGParseController"
            language="LEG">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            nameFilter="*"
            id="LEG.imp.projectContextMenu">
         <action
               label="Enable LEG Builder"
               tooltip="Enable the LEG builder for this project"
               class="org.eclipse.imp.leg.actions.EnableLEGNature"
               id="LEG.imp.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.leg.documentationProvider.LEGDocumentationProvider"
            language="LEG">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
      <toggleBreakpointHandler
            class="org.eclipse.imp.leg.debug.LEGBreakpointHandler"
            language="leg">
      </toggleBreakpointHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="LEG"
            class="org.eclipse.imp.leg.preferences.LEGPreferencePage"
            id="org.eclipse.imp.LEG.preferences.LEG">
      </page>
   </extension>

</plugin>
