<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="leg"
            description="Little Expression Grammar"
            language="LEG">
      </language>
   </extension>
   <extension
         id="org.eclipse.imp.leg.parserWrapper"
         name="LEG Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="org.eclipse.imp.leg.parser.LEGParseController"
            language="LEG">
      </parserWrapper>
   </extension>
   <extension
         id="leg.imp.builder"
         name="LEG builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.leg.builders.LEGBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="LEG Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="org.eclipse.imp.leg.leg.imp.builder">
      </builder>
      <runtime>
         <run
               class="LEG.imp.builders.LEGNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="leg.imp.builder.problem"
         name="LEG Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            nameFilter="*"
            id="LEG.imp.projectContextMenu">
         <action
               label="Enable LEG Builder"
               tooltip="Enable the LEG builder for this project"
               class="LEG.imp.actions.EnableNature"
               id="LEG.imp.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
